<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>proof of concept - quite good considering</title>
  </head>
  <body>
    <span id="txt">Running project #{{name}}! While this tab exists you are donating your compute power. Close the tab to stop execution.</span>
    <div id="clock_container">
    </div>>  

    <script>
      class Clock {
        constructor() {
          this.hours = 0;
          this.minutes = 0;
          this.seconds = 0;
          this.cron = false;
        }
        draw() {
          for ( var [id, val] of [["hour", this.hours], ["minute", this.minutes], ["second", this.seconds]]) {
            document.getElementById(id).innerText = this.returnData(val);
          }
        }
        stop() {
          this.cron = false
          this.hours, this.minutes, this.seconds = 0, 0, 0;
          this.draw();
        }
        start() {
          document.getElementById("clock_container").innerHTML = '<span id="hour">00</span>:<span id="minute">00</span>:<span id="second">00</span>';
          this.draw(); 
          this.cron = setInterval(() => {this.update(); }, 1000);
        }
        update() {
          return
        }
        returnData(input) {
        return input > 10 ? input : `0${input}`
      }
      }

      class Stopwatch extends Clock {
        update() {
          if (this.cron) {
            this.seconds ++;
            if (this.seconds == 60) {
              this.seconds = 0;
              this.minutes++;
            }
            if (this.minutes == 60) {
              this.minutes = 0;
              this.hours++;
            }
            this.draw();
          }
        }
      }

      class Timer extends Clock {
        constructor() {
          super();
          this.seconds = 30;
        }
        update() {
          if (this.cron) {
            this.seconds --;
            if (this.seconds == 0) {
              window.close();
            }
            this.draw();
          }
        }
      }

      stopwatch = new Stopwatch();
      stopwatch.start()
    </script>

<script type='text/javascript'>
      if (window.Worker) {
        const myWorker = new Worker('/api/get_worker/worker.js');
      myWorker.postMessage('{{name}}');
      var worker_done = false
      myWorker.onmessage = function(e) {
        result =  e.data;
        console.log('Message received from worker: ' + result);
        if (result != "No jobs") {
          myWorker.postMessage('{{name}}');
        } else {
          console.log('no more jobs, exec stopped')
          stopwatch.stop();
          document.getElementById('txt').innerText = "There are no more jobs. This tab will close when the timer runs out.";
          timer = new Timer()
          timer.start()
        }
      }
       } else {
        console.log('Your browser doesn\'t support web workers.');
      }
    </script>
  </body>
</html>


