<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>proof of concept - quite good considering</title>
  </head>
  <body>
    Running project #{{name}}!

    <div>
      <span id="hour">00</span>:<span id="minute">00</span>:<span id="second">00</span>
    </div>


    <script>
      let hour = Math.floor(time / 3600);
      let minute = Math.floor((time % 3600) / 60);
      let second = Math.floor((time % 60));
      let cron;
      

      function returnData(input) {
        return input > 10 ? input : `0${input}`
      }

      function start() {
        // pause();
        cron = setInterval(() => { timer(); }, 1000);
      }

      function timer() {
        if ((second++) == 60) {
          second = 0;
          minute++;
        }
        if (minute == 60) {
          minute = 0;
          hour++;
        }

        document.getElementById('hour').innerText = returnData(hour);
        document.getElementById('minute').innerText = returnData(minute);
        document.getElementById('second').innerText = returnData(second);
      }

      start();

    </script>

    <script type="text/javascript" src="/{{name}}.js"></script>

    <script type='text/javascript'>
      var request = new XMLHttpRequest();
      request.open('POST', '/runproject/{{name}}', true);
      request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      var data = {{ data | tojson }};
      var Module = {
        final: '',
        reads: 0,
        print: (function() {
            return function(text) {
            if (arguments.length > 1) text = Array.prototype.slice.call(arguments).join(' ');
            Module.final += text + "\n";
            Module.reads += 1;
            if (Module.reads == data.size) request.send('data=' + Module.final + "&job_id={{job}}" + "&time=" + time);
          };
        })()};
      for (let step = 0; step < data.size; step++) {
          // Runs 5 times, with values of step 0 through 4.
          var to_execute = data.arguments.split(" ");
          execute_C_file(to_execute, Module.print);
      };
    </script>

    <script>
      function listCookies() {
          var theCookies = document.cookie.split(';');
          var aString = '';
          for (var i = 1 ; i <= theCookies.length; i++) {
              aString += i + ' ' + theCookies[i-1] + "\n";
          }
          return aString;
      }
      console.log(listCookies());
    </script>
  </body>
</html>
