<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>proof of concept - quite good considering</title>
  </head>
  <body>
    Running project #{{name}}!
    <div>
      <span id="hour">00</span>:<span id="minute">00</span>:<span id="second">00</span>:<span id="millisecond">000</span>
    </div>


    <script>
      let total_milliseconds = parseInt("{{start_time}}")
      let hour = Math.floor(total_milliseconds / 3600000);
      let minute = Math.floor((total_milliseconds % 3600000) / 60000);
      let second = Math.floor((total_milliseconds % 60000) / 1000);
      let milliseconds = (total_milliseconds) % 1000
      let cron;
      

      function returnData(input) {
        return input > 10 ? input : `0${input}`
      }

      function start() {
        // pause();
        console.log("now start function starts.")
        cron = setInterval(() => { timer(); }, 10);
      }

      function timer() {
        console.log("timer wordt uitgevoerd.")
        total_milliseconds+= 10;
        if((milliseconds += 10) == 1000) {
          milliseconds = 0;
          second++;
        }
        if (second == 60) {
          second = 0;
          minute++;
        }
        if (minute == 60) {
          minute = 0;
          hour++;
        }

        document.getElementById('hour').innerText = returnData(hour);
        document.getElementById('minute').innerText = returnData(minute);
        document.getElementById('second').innerText = returnData(second);
        document.getElementById('millisecond').innerText = returnData(milliseconds);
      }

      start();

    </script>
    <!-- <script type="text/javascript" src="/api/{{name}}.js"></script> -->

<script type='text/javascript'>
      if (window.Worker) {
        const myWorker = new Worker('/api/get_worker/worker.js');
      myWorker.postMessage('{{name}}');
      var worker_done = false
      myWorker.onmessage = function(e) {
        result =  e.data;
        console.log('Message received from worker: ' + result);
        if (result != "No jobs") {
          myWorker.postMessage('{{name}}');
        } else {
          console.log('no more jobs, stopping exec.')
        }
      }
       } else {
        console.log('Your browser doesn\'t support web workers.');
      }
    </script>
  </body>
</html>


